@model BuyAndSelApp.Models.ProductListViewModel
@{
    ViewBag.Title = "Buy And Sell App";
}

<div class="row flex-xl-nowrap">
    <div class="col-md-2 sidebar">

        @using (Html.BeginForm("Index", "Home", FormMethod.Post, new {@class = "search", id="searchform"}))
        {
            @Html.TextBoxFor(model => model.Search, new {@class = "form-control", placeholder = "PS4,PS3,3DS"})
            @Html.HiddenFor(x => x.Request, new {id = "request"})
            @Html.HiddenFor(x => x.SerializedRequest, new {id = "serializedrequest"})
        }

        <div class="sidebar-nav">
            <h4>Common Search</h4>
            @Html.ActionLink("3DS", "Index", new {keyword = "3ds"}, new {@class = "sidebar-link"})
            @Html.ActionLink("Playstation 4", "Index", new {keyword = "ps4"}, new {@class = "sidebar-link"})
            @Html.ActionLink("Playstation 3", "Index", new {keyword = "ps3"}, new {@class = "sidebar-link"})
            @Html.ActionLink("Gaming Laptop", "Index", new {keyword = "gaming laptop"}, new {@class = "sidebar-link"})
        </div>
    </div>
    <div class="col-md-10">
        <div class="row">
            @if (Model != null && Model.ProductResponse != null)
            {
                foreach (var response in Model.ProductResponse)
                {
                    if (response != null)
                    {
                        foreach (var product in response.ProductList)
                        {
                            @Html.Partial("_Product", product)
                        }
                    }
                }
            }
        </div>
    </div>
</div>
@if (Model != null && Model.ProductResponse != null)
{
    <div class="next-button"><button class="btn btn-primary" id="next">Next</button></div>
}

@section scripts {
    <script type="text/javascript">
        $(document).ready(function() {
            $('#request').val(null);
        });

        $('#next').click(function () {
            $('#request').val($('#serializedrequest').val());
            $('#searchform').submit();
        });
    </script>
}